.project-card-lg {
    @include card;
    width: 100%;
    h2 {
        font-size: 2.4rem;
        @include decorative-text;
        margin-bottom: 1rem; 
    }
    p {
        font-size: 1.2rem;
        @include thin;
    }
}

.project-card-img-lg {
    height: 30rem;
    @include card-img
}


.project-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    color: $font-color;
}

