.project-card-lg {
    @include card;
    width: 100%;
    transition: ease-in-out .25s;
    h2 {
        font-size: 3.2rem;
        @include decorative-text;
        margin-bottom: 1rem; 
    }
    p {
        font-size: 1.8rem;
        @include thin;
    }
}

.project-card-img-lg {
    height: 30rem;
    @include card-img
}


.project-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    color: $font-color;
}

.card-wrapper {
    @extend .container-wide;
    // border: 2px solid purple;
    display: flex;
    margin: 1rem auto;
    justify-content: space-between;
    a {
        width: 49%;
    }
}

.project-card-sm {
    background-color: white;
    display: flex;
    width: 100%;
    height: 10rem;
    transition: all .2s ease-in-out;
    @include tablet {
        height: 15rem;
    }
    h2 {
        font-size: 1.8rem;
        @include decorative-text;
        margin-bottom: 1rem; 
    }
    p {
        font-size: 1.1rem;
        @include thin;
    }
    box-shadow: $shadow;
    border-radius: $card-border-radius;
    transition: .25s;
    &:hover {
        box-shadow: $shadow-hover;
        transform: scale(1.01);
    }
}

.project-card-img-sm {
    height: 100%;
    width: 50%;
    img {
        width: 100%;
        height: 100%;
        border-top-left-radius: $card-border-radius;
        border-bottom-left-radius: $card-border-radius;
    }
}
