.container-fluid {
    width: 100%;
    // border: 1px solid green;
    margin-bottom: 2rem;
}

.container {
    width: 94%;
    max-width: 100%;
    margin: 0 auto;
    // border: solid red;
    padding: 1rem;
    @include tablet {
        // border: 1px solid purple;
        max-width: $tablet;
        padding: 2rem;
    }
    @include laptop {
        // border: 1px solid orangered; 
        max-width: $laptop;
    }
    @include desktop {
        // border: 1px solid blue;
        max-width: $desktop;
    }
}


.profile-container {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;

    }
}


.profile-info {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .05rem;
    @include light;
    h1 {
        font-size: 2.6rem;
        margin-bottom: 2rem;
        @include bold;
    }
    @include tablet {
        padding: 2rem;
    }
}

.text-container {
    width: 100%;
    margin: 4rem 0;
    @include laptop {
        width: $laptop;
    }
    @include desktop {
        margin: 0 auto;
    }
}

.block-img {
    width: 100%;
    margin: 5rem 0;
    box-shadow: 0 15px 35px 0 rgb(0 0 0 / 10%), 0 5px 15px 0 rgb(0 0 0 / 5%);
    img {
        width: 100%;
        object-fit: cover;
    }
}

.more-projects-container {
    // border: 5px solid orange;
    padding: 7rem 0;
    margin-top: 3rem;
    @include tablet {
    }
}

.container-wide {
    width: 96%;
    margin: 0 auto;
    @include tablet {
        width: 80vw;
        max-width: $desktop;
        // padding: 1rem;
    }
    h1 {
        margin-bottom: 2.2rem;
    }
}

.border {
    width: 100%;
    border-top: 2px solid rgb(183, 183, 183);
}

.social-container {
    text-align: center;
    margin: 6rem auto;
    padding: 3rem 0 2rem 0;
    h2 {
        font-size: 2.4rem;
        @include semibold;
    }
}