.container-fluid {
    width: 100%;
    border: 1px solid green;
}

.container {
    width: 96%;
    max-width: 100%;
    margin: auto;
    border: solid red;
    padding: 1rem;
    @include tablet {
        border: 1px solid purple;
        max-width: $tablet;
        padding: 2rem;
    }
    @include laptop {
        border: 1px solid orangered; 
        max-width: $laptop;
    }
    @include desktop {
        border: 1px solid blue;
        max-width: $desktop;
    }
}


.profile-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    @include tablet {
        flex-direction: row;

    }
}


.profile-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .05rem;
    @include light;
    h1 {
        font-size: 2.6rem;
        margin-bottom: 2rem;
        @include bold;
    }
}

.text-container {
    width: 100%;
    margin: 4rem 0;
    @include laptop {
        width: $laptop;
    }
    @include desktop {
        margin: 0 auto;
    }
}

.block-img {
    width: 100%;
    margin: 5rem 0;
    box-shadow: 0 15px 35px 0 rgb(0 0 0 / 10%), 0 5px 15px 0 rgb(0 0 0 / 5%);
    img {
        width: 100%;
        object-fit: cover;
    }
}

.more-projects-container {
    border: 5px solid orange;
    padding: 2rem 0;
    margin: 3rem 0;
    @include tablet {
    }
}

.container-wide {
    width: 98%;
    margin: 0 auto;
    @include tablet {
        width: 80vw;
        max-width: $desktop;
        padding: 1rem;
    }
    h1 {
        padding-left: 1%;
    }
}

.card-wrapper {
    @extend .container-wide;
    border: 2px solid purple;
    display: flex;
    justify-content: space-between;
    a {
        width: 49%;
    }
}

.project-card-sm {
    display: flex;
    width: 100%;
    height: 10rem;
    // border: 2px solid red;
    margin: 1rem;
    @include tablet {
        height: 15rem;
    }
    h2 {
        font-size: 1.8rem;
        @include decorative-text;
        margin-bottom: 1rem; 
    }
    p {
        font-size: 1.2rem;
        @include thin;
    }
    box-shadow: $shadow;
    border-radius: $card-border-radius;
    transition: .25s;
    &:hover {
        box-shadow: $shadow-hover;
    }
}

.project-card-img-sm {
    height: 100%;
    width: 50%;
    img {
        width: 100%;
        height: 100%;
        border-top-left-radius: $card-border-radius;
        border-bottom-left-radius: $card-border-radius;
    }
}