.container-fluid {
    width: 100%;
    // border: 1px solid green;
    margin-bottom: 2rem;
}

.container {
    width: 94%;
    max-width: 100%;
    margin: 0 auto;
    // border: solid red;
    padding: 1rem;
    @include tablet {
        // border: 1px solid purple;
        max-width: $tablet;
        padding: 2rem;
    }
    @include laptop {
        // border: 1px solid orangered; 
        max-width: $laptop;
    }
    @include desktop {
        // border: 1px solid blue;
        max-width: $desktop;
    }
}


.profile-container {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;

    }
}


.profile-info {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .05rem;
    @include light;
    h1 {
        font-size: 2.6rem;
        margin-bottom: 2rem;
        @include bold;
    }
    @include tablet {
        padding: 2rem;
    }
}

.text-container {
    width: 100%;
    margin: 4rem 0;
    @include laptop {
        width: $laptop;
    }
    @include desktop {
        margin: 0 auto;
    }
}

.block-img {
    width: 100%;
    margin: 5rem 0;
    img {
        width: 100%;
        object-fit: cover;
        box-shadow: 0 15px 35px 0 rgb(0 0 0 / 10%), 0 5px 15px 0 rgb(0 0 0 / 5%);
    }
    @include desktop {
        width: 80%;
        margin: 5rem auto;
    }
}

.small {
    @extend .block-img;
    @include large-phone {
        margin: 4rem auto 4rem auto;
        width: 50%;
    }
    @include tablet {
        width: 60%;
    }
}

.medium {
    @extend .block-img;
    @include large-phone {
        margin: 4rem auto 4rem auto;
        width: 70%;
    }
    @include tablet {
        width: 80%;
    }
}

.more-projects-container {
    // border: 5px solid orange;
    padding: 7rem 0;
    margin-top: 3rem;
    @include tablet {
    }
}

.container-wide {
    width: 96%;
    margin: 0 auto;
    @include tablet {
        width: 80vw;
        max-width: $desktop;
        // padding: 1rem;
    }
    h1 {
        margin-bottom: 2.2rem;
    }
}

.border {
    width: 100%;
    border-top: 2px solid rgb(183, 183, 183);
}

.social-container {
    text-align: center;
    margin: 6rem auto;
    padding: 3rem 0 2rem 0;
    h2 {
        font-size: 2.4rem;
        @include semibold;
    }
}

.circle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.circle-card {
    text-align: center;
}

.phase-circle {
    background-color: $primary-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    h2 {
        font-size: 1.24rem;
        line-height: 1.5rem;
        @include large-phone {
            font-size: 2rem;
            line-height: 2.2rem;
        }
    }
    @include large-phone {
        height: 15rem;
        width: 15rem;
        }
    }

.phase-footer {
    margin-top: 1rem;
    @include light;
}

iframe {
    width: 100%;
    height: 50rem;
    margin: 1rem auto;
}