footer {
    background-color: rgb(162, 162, 162);
    text-align: center;
    margin-bottom: 0 !important;
    max-width: 100%;
    padding: 1.2rem 0 1.2rem 0;
    a {
        color: white;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}