.circle-icon [class*="fa fa-"] {
    background-color: $primary-color;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    margin: auto .3rem;
    width: 4rem;
    font-size: 1.8rem;
    text-align: center;
    transition: .25s;
}

.icon-wrapper {
    display: flex;
    justify-content: space-between;
    @include tablet {
        justify-content: space-evenly;
    }
}

.icon-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    @include tablet {
        width: 40%;
    }
}

.icon-row {
    display: flex;
    align-items: center;
    margin: 1rem;
    p {
        font-size: 1.4rem;
        margin-left: 1rem;
        @include light;
    }
}

.social-icons {
    font-size: 4rem;
    i {
        margin: 3rem;
        text-decoration: none;
        color: $font-color;
        transition: .25s;
        &:hover {
            color: $primary-color;
        }
    }
}