.circle-icon [class*="fa fa-"] {
    background-color: $primary-color;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: auto 3px;
    width: 40px;
    font-size: 18px;
    text-align: center;
    transition: .25s;
}

.icon-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.icon-column {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.icon-row {
    display: flex;
    align-items: center;
    margin: 1rem;
    p {
        font-size: 1.4rem;
        margin-left: 1rem;
        @include light;
    }
}