@mixin large-phone {
    @media (min-width: $landscape-phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: $laptop) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin bold {
    font-weight: 700;
}

@mixin semibold {
    font-weight: 600;
}

@mixin light {
    font-weight: 300;
}

@mixin thin {
    font-weight: 100;
}

@mixin decorative-text {
    font-family: 'Yeseva One', cursive;
}

// @mixin image-text-block {
//     display: flex;
//     max-width: $laptop;
//     margin: 2rem auto;
//     border: 2px solid red;
//     img {
//         width: 80%;
//         margin: 0 auto;
//     }
//     div {
//         margin: 2rem 0;
//         width: 100%;
//     }
//     @include tablet {
//         flex-direction: row;
//         img {
//             width: 50%;
//             object-fit: contain;
//             height: 100%;
//         }
//         div {
//             margin: 0;
//             width: 50%;
//             padding: 2rem;
//         }
//     }
// }

@mixin card {
    margin-bottom: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;
    border-radius: $card-border-radius;
        @include tablet {
        flex-direction: row;
    }
    &:hover {
        box-shadow: $shadow-hover;
        transform: scale(1.01);
        margin-bottom: 1rem;
    }
}

@mixin card-img {
    width: 100%;
    @include tablet {
        width: 50%;
        max-height: 40vh;
    }
    img {
        border-top-left-radius: $card-border-radius;
        border-bottom-left-radius: $card-border-radius;
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-width: 28rem;
    }
}

