@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: $laptop) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin bold {
    font-weight: 700;
}

@mixin light {
    font-weight: 300;
}

@mixin thin {
    font-weight: 100;
}

@mixin decorative-text {
    font-family: 'Yeseva One', cursive;
}