.nav-wrapper{
    border: 1px solid orange;
    display: flex;
    padding: 2rem;
    font-size: 1.4rem;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    a {
        margin-left: 2rem;
        margin-right: 2rem;
        text-decoration: none;
        color: $font-color;
    }
}