.title-text {
    @include bold;
    font-size: 3.6rem;
    margin-bottom: 1rem;
    margin-top: 7rem;
    @include tablet {
        font-size: 4.4;
    }
}

.body-text {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .03rem;
}

.section-heading {
    @include bold;
    font-size: 2.4rem;
    margin-bottom: 2rem;
    @include tablet {
        font-size: 3.2;
    }
}

.section-subheading {
    @include bold;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    @include tablet {
        font-size: 1.8;
    }
}

.hero-text {
    position: absolute;
    bottom: 0;
    padding-bottom: 4rem;
    color: white;
    h1 {
        font-size: 6rem;
        @include decorative-text;
        @include tablet {
            font-size: 8rem;
        }
    }
    p {
        font-size: 1.8rem;
        @include light;
        margin-top: 1rem;
    }
}

.section-title {
    font-size: 2.6rem;
    @include thin;
    color: $font-color !important;
}

.fade-in {
    text-align: center;
    padding: 300px 0;
    font-size: 30px;
    text-transform: uppercase;
}

a {
    color: $font-color;
    &:hover {
        color: $primary-color;
    }
}



blockquote::before {
    content: open-quote;
  }
  
  blockquote::after {
    content: close-quote;
  }

blockquote::before, blockquote::after {
    opacity: 0.25;
    padding: 0 10px;
    font-size: 3em;
  }



  blockquote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    font-style: italic;
    background-color: $quote-color;
    font-size: 2.4rem;
    @include thin;
}