@import "reset";
@import "variables";
@import "mixins";
@import "header";
@import "container";
@import "navigation";
@import "typography";
@import "card";
@import "images";
@import "icons";


.section-title {
    font-size: 2.6rem;
    @include thin;
}

.bold {
    text-decoration: none;
    color: $font-color;
    @include bold;
    font-size: 1.8rem;
}
.light {
    text-decoration: none;
    color: $font-color;
    @include light;
}



#skills {
    background-color: $background-color;
}

#recent-work {
    background-color: $background-color;
}